*{
    margin: 0;
    padding: 0;
    
}
.one{
    list-style: none;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
   
    

}
.HOME:hover{color: rgb(126, 133, 113);
}
.portfolio:hover{color: rgb(126, 133, 113);
}

.resume:hover{color: rgb(126, 133, 113);

}
.about:hover{color: rgb(126, 133, 113);

}
.contact:hover{color: rgb(126, 133, 113);

}


.header{
    background-image: url(./fon\ sekili.webp);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
.overley{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}
.Hello{

    padding-bottom: 0;
  margin-top: 600px;
  margin-left: 1000px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90px;
  font-weight: 100;
    
}
.name{color:white;
    font-size: 90px;
    margin-left: 850px;
   font-weight: bolder;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.AND{color:white;
    font-size: 40px;
    margin-left: 1000px;
font-weight: 50;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.page{
    background-color: #222;
    width: 2500px;
    height: 20000px;
    
}
.Portfolio{
    color: white;
    font-size: 90px;
  
    margin-left: 900px;
    margin-bottom: 50px;
}
.two{
    list-style: none;
    width: 50%;
  
    margin-left: 500px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
   
}
.all:hover{color: rgb(126, 133, 113);

}
.packaging:hover{color: rgb(126, 133, 113);

}
.mockup:hover{color: rgb(126, 133, 113);
    
}
.typography:hover{
    color: rgb(126, 133, 113);
}
.photography:hover{color: rgb(126, 133, 113);

}
.square{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.Square{color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-left: 70px;

}
.Mockup{color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-left: 150px;

}
.product{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}


.Product{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-left: 40px;
}
.mock{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-left: 150px;
}
.creativ{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.creative{ color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;

}
.Packaging{color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    
}
.pack{  margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    

}
.Pack{color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;

}
.brand{color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

}
.exercise{ color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.isometric{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.Isometric{color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

}
.white{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.White{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.space{color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;

}
.sixty{
    display: flex;
    flex-wrap: wrap;

    
}
img{ width: 100%;
    height: 50vh;
     size: 800px;

}
.nine{ color: white;
    font-size: 90px;
  
    margin-left: 900px;
    margin-bottom: 50px;
    font-size: 80px;
    margin-top: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.present{
    background-color: #181819;
    height: 400px;
    width: 1200px;
    

}
    
.Present{
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
}
.masteral{
    color:  #4d710b;
    font-size: 40px;
}
.even {font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: silver;
}

.education{
    color: white;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:  50px;
 
    
}
.five{
    color: silver;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 150px;
}
.month{
    display: flex;
    flex-wrap: wrap;
}
.Education{
    margin-bottom: 50px;
}
.son{
    display: flex;
    margin-top: 500px;

}
.time{
    margin-left: 100px;
    
}
.word{
    margin-left: 100px;
}
.me{
    color: white;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
    margin-top: 40px;
}

.live{
    font-size: 40px;
    width: 800px;
    color: silver;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.small{
    font-size: 30px;
    width: 800px;
    color: silver;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.Hire{background-color: #829164;
    font-size: 40px; 
    margin-top: 80px;
    border-radius: 200px;
    height: 100px;
    width: 300px;
  

}
.Download{ background-color:grey;
    font-size: 40px;
    margin-top: 80px;
  border-radius: 200px;
  width: 300px;
  height: 100px;
  

}
.client{
    color: white;
    font-size: 90px;
  
    margin-left: 900px;
    margin-bottom: 50px;
    font-size: 80px;
    margin-top: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.test{font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: silver;
    background-color: #181819;
    height: 400px;
    width: 1000px;
    margin-right: 100px;
    margin-left: 150px;
    margin-top: 100px;

}
.ceo{
    display: flex;
    flex-wrap: wrap;
}
.large{
    margin-top: 100px;
}
.Services{color: white;
    font-size: 90px;
  
    margin-left: 900px;
    margin-bottom: 100px;
    font-size: 80px;
    margin-top: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.web{
   margin-left: 50px;
   margin-right: 50px;
   height: 800px;
  
    background-color: #181819;
    
    
}
.design{
    font-size: 40px;
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
}
.box{
    display: flex;
    
}
.mountains{
    font-size: 40px;
    color: silver;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
}
.laptop{
    color: #4d710b;
    font-size: 100px;
    margin-left: 300px;
}
.More{
    margin-top: 50px;
    color: rgb(52, 85, 52);
    font-size: 40px;
    margin-left: 100px;
}
.medium{
    color: white;
    font-size: 90px;
  
    margin-left: 900px;
    margin-bottom: 90px;
    font-size: 80px;
    margin-top: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.facebook{
    width: 600px;
    height: 600px;
    position: relative;
    left: 20px;
    
}
.Face{
    font-size: 60px;
    color: aliceblue;
}
.Face:hover{
    color: rgb(3, 82, 3)
}
.Facebook{
    font-size: 30px;
    color: silver;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.face{
    background-color: #181819;
    width: 600px;
    height: 1000px;
  margin-left: 150px;
  position: relative;

}
.face:hover{
    bottom: 5px;
}

.Blog{
    display: flex;
}
.Get{
    color: white;
    font-size: 90px;
  
    margin-left: 900px;
    margin-bottom: 90px;
    font-size: 80px;
    margin-top: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Touch{ margin-bottom: 50px;
    color: white;
    font-size: 50px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Detail{
    margin-bottom: 50px;
    color: white;
    font-size: 50px;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.email{font-size: 30px;
    color: rgb(43, 43, 214)
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Email{
    color: rgb(135, 130, 130);
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.input{
    display: flex;
}
.touch{
    margin-left: 200px;
}
.detail{
    margin-left: 200px;
}
.your-name{
    width: 1200px;
    height: 80px;
    font-size: 30px;
    background-color: #181819;

}
.your-text{
    width: 1200px;
    font-size:30px ;
    height: 500px;
    background-color: #181819;

}
.message{
    font-size: 40px;
    background-color: #accf67;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-left: 200px;
    margin-top: 50px;
    color: white;
border-radius: 200px;
padding: 20px;
}
.copy{
    color: silver;
}
.heart{
    color: silver;
}
.heart:hover{
    color: #4d710b;
}
.copy3{
    margin-top: 200px;
    margin-left: 800px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icon{
    list-style: none;
    display: flex;
    margin-top: 100px;
    font-size: 100px;
    margin-left: 300px ;
    color: #6a7f43;

}


